html,
body {
  height: 100%;
  overflow: hidden;
}
.container 
{
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  padding: 3rem;
  
}
.form-signin {
  max-width: 330px;
  padding: 1rem;
}



.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.bg-secondary
{
 
  width: 20%;
  border: none !important;
  background-color: #fff !important;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);

}

.text_color
{
  color: black;
  font-weight: 600;

}

.create-btn{
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.normal-btn{
  border: none;
  background-color: #fff;
  font-size: 1.1rem;
  width: 4rem;
  margin: auto 1.5rem auto 0;
}

.active-btn{
  background-color: white;
  width: 4rem;
  border: none;
  font-size: 1.1rem;
  color: blue;
  margin: auto 1.5rem auto 0;
  border-bottom: 2px solid blue;
}

.thead{
  background-color: #f2f2f2;
  width: 50%;
}

.nav-btn{
  color: blue;
  text-decoration: none;
  border: none;
  padding-right: 10px;
  background-color: white;
}

.btn{
  margin-right: 5px;
}

.blue-border{
  border: 2px solid blue;
  color: blue;
}

.right-pagination{
  display: flex;
  justify-content: flex-end;
}